@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1e4096c2;
}

/* From Uiverse.io by dexter-st */
.loader-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    font-family: "Inter", sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    color: white;
    border-radius: 50%;
    background-color: transparent;
    user-select: none;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: transparent;
    animation: loader-rotate 2s linear infinite;
    z-index: 0;
}

@keyframes loader-rotate {
    0% {
        transform: rotate(90deg);
        box-shadow:
            0 10px 20px 0 #fff inset,
            0 20px 30px 0 #ad5fff inset,
            0 60px 60px 0 #471eec inset;
    }

    50% {
        transform: rotate(270deg);
        box-shadow:
            0 10px 20px 0 #fff inset,
            0 20px 10px 0 #d60a47 inset,
            0 40px 60px 0 #371ca5ec inset;
    }

    100% {
        transform: rotate(450deg);
        box-shadow:
            0 10px 20px 0 #fff inset,
            0 20px 30px 0 #ad5fff inset,
            0 60px 60px 0 #471eec inset;
    }
}

.loader-letter {
    display: inline-block;
    opacity: 0.4;
    transform: translateY(0);
    animation: loader-letter-anim 2s infinite;
    z-index: 1;
    border-radius: 50ch;
    border: none;
}

.loader-letter:nth-child(1) {
    animation-delay: 0s;
}

.loader-letter:nth-child(2) {
    animation-delay: 0.1s;
}

.loader-letter:nth-child(3) {
    animation-delay: 0.2s;
}

.loader-letter:nth-child(4) {
    animation-delay: 0.3s;
}

.loader-letter:nth-child(5) {
    animation-delay: 0.4s;
}

.loader-letter:nth-child(6) {
    animation-delay: 0.5s;
}

.loader-letter:nth-child(7) {
    animation-delay: 0.6s;
}

.loader-letter:nth-child(8) {
    animation-delay: 0.7s;
}

.loader-letter:nth-child(9) {
    animation-delay: 0.8s;
}

.loader-letter:nth-child(10) {
    animation-delay: 0.9s;
}

@keyframes loader-letter-anim {

    0%,
    100% {
        opacity: 0.4;
        transform: translateY(0);
    }

    20% {
        opacity: 1;
        transform: scale(1.15);
    }

    40% {
        opacity: 0.7;
        transform: translateY(0);
    }
}


::selection {
    color: #fff;
    background: #6990F2;
}

.wrapper {
    width: 430px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
}

.wrapper header {
    color: #6990f2;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}

.wrapper form {
    height: 167px;
    display: flex;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #6990f2;
    cursor: pointer;
}

form :where(i, p) {
    color: #6990f2;
}

form i {
    font-size: 50px;
}

form p {
    font-size: 16px;
    margin-top: 15px;
}

section .row {
    background: #e9f0ff;
    margin-bottom: 10px;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .row i {
    font-size: 30px;
    color: #6990f2;
}

section .details span {
    font-size: 14px;
}

.progress-area .row .content {
    width: 100%;
    margin-left: 15px;
}

.progress-area .details {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
}

.progress-area .content .progress-bar {
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: #fff;
    border-radius: 30px;
}

.content .progress-bar .progress {
    height: 100%;
    width: 0%;
    background-color: #6990F2;
    border-radius: inherit;
}

.uploaded-area {
    max-height: 232px;
    overflow-y: scroll;
}

.uploaded-area .onprogress {
    max-height: 150px;
}

.uploaded-area::-webkit-scrollbar {
    width: 0px;
}

.uploaded-area .row .content {
    display: flex;
    align-items: center;
}

.uploaded-area .row .details {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}

.uploaded-area .row .details .size {
    color: #404040;
    font-size: 11px;
}

.uploaded-area i.fa-check {
    font-size: 16px;
}